<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>学习行为智能分析助手</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script th:src="@{/js/ref/jquery-3.2.1.min.js}"></script>
<script th:src="@{js/ref/jquerysession.js}"></script>
<script th:src="@{js/ref/bootstrap.min.js}"></script>
<script th:src="@{js/ref/echarts-all.js}"></script>
<link rel="stylesheet" th:href="@{css/bootstrap.css}" />
<style>
#t_class {
	width: 100%;
}

#t_title {
	text-align: center;
	height: 35px;
	width: 120px;
	margin: 0 auto;
	color: rgb(51, 122, 183);
	background: white;
}

#t {
	width: 100%;
}

#t_d {
	text-align: center;
	text-size: 16px;
	margin-top: 30px;
	margin-bottom: 20px;
}

#percent {
	font-size: 50px;
	color: rgb(51, 122, 183);
}
</style>
<script>
	$.session.set('raiseHand', 0);
	$.session.set('answerQuestion', 0);
</script>

</head>

<body>
	<div id="t">
		<h4 id="t_d">
			平均专注度<span id="percent"></span>%
		</h4>
	</div>
	<div id="list"
		style="width: 700px; height: 400px; margin-right: auto; margin-left: auto; margin-top: 10px; margin-bottom: 30px"></div>


	<script type="text/javascript">
		/*<![CDATA[*/
		function heatMap() {
			$
					.ajax({
						type : "POST",
						url : "http://localhost:10003/realTime/focus",
						crossDomain : true,
						success : function(data) {
							var heatData = [];
							var x = data.length;
							var y = data[0].length;
							var x_insert = 700 / x;
							var y_insert = 400 / y;
							var range = 10;
							var avg = 1;
							var count = 0;

							var dense = x_insert / (range * 6);
							var dense2 = y_insert / (range * 6);

							var circle = [
									[ 0, 0, 0.1, 0.2, 0.3, 0.3, 0.2, 0.1, 0, 0 ],
									[ 0, 0.2, 0.3, 0.4, 0.4, 0.4, 0.4, 0.3,
											0.2, 0 ],
									[ 0.1, 0.3, 0.4, 0.5, 0.6, 0.6, 0.5, 0.4,
											0.3, 0.1 ],
									[ 0.2, 0.4, 0.5, 0.6, 0.7, 0.7, 0.6, 0.5,
											0.4, 0.2 ],
									[ 0.2, 0.3, 0.5, 0.6, 0.7, 0.7, 0.6, 0.5,
											0.3, 0.2 ],
									[ 0.2, 0.3, 0.5, 0.6, 0.7, 0.7, 0.6, 0.5,
											0.3, 0.2 ],
									[ 0.2, 0.4, 0.5, 0.6, 0.7, 0.7, 0.6, 0.5,
											0.4, 0.2 ],
									[ 0.1, 0.3, 0.4, 0.5, 0.6, 0.6, 0.5, 0.4,
											0.3, 0.1 ],
									[ 0, 0.2, 0.3, 0.4, 0.4, 0.4, 0.4, 0.3,
											0.2, 0 ],
									[ 0, 0, 0.1, 0.2, 0.3, 0.3, 0.2, 0.1, 0, 0 ] ];

							var arr1 = new Array();
							for (var i = 0; i < x * 6; i++) {
								arr1[i] = new Array(i);
								for (var j = 0; j < y * 6; j++) {
									arr1[i][j] = 0;
								}
							}

							var arr2 = new Array();
							for (var i = 0; i < x * 6; i++) {
								arr2[i] = new Array(i);
								for (var j = 0; j < y * 6; j++) {
									arr2[i][j] = 0;
								}
							}

							for (var i = 0; i < data.length; i++) {
								for (var j = 0; j < data[i].length; j++) {
									if (data[i][j] != 1) {
										avg += data[i][j];
										count++;
									}
									var k = i * 6 - 5;
									var m = j * 6 - 5;
									if (k < 0)
										k = 0;
									if (m < 0)
										m = 0;
									for (var p = k; p < i * 6 + 5
											&& p < arr1.length; p++) {
										for (var q = m; q < j * 6 + 5
												&& q < arr1[k].length; q++) {
											arr1[p][q] += circle[p - k][q - m]
													* (1 - data[i][j]);
											arr2[p][q] += 1;
										}
									}

								}
							}

							for (var i = 0; i < x * 6; i++) {
								for (var j = 0; j < y * 6; j++) {
									if (arr2[i][j] == 0) {
										arr2[i][j] = 1;
									}
								}
							}

							for (var i = 0; i < x * 6; i++) {
								for (var j = 0; j < y * 6; j++) {
									arr1[i][j] = arr1[i][j] / arr2[i][j];
								}
							}

							for (var i = 0; i < x * 6; i++) {
								for (var j = 0; j < y * 6; j++) {
									arr1[i][j] = arr1[i][j] / arr2[i][j];
								}
							}

							for (var i = 0; i < x * 6; i++) {
								for (var j = 0; j < y * 6; j++) {
									for (var k = 0; k < dense; k++) {
										for (var m = 0; m < dense2; m++) {
											heatData
													.push([
															i * x_insert / 6
																	+ k * range,
															j * y_insert / 6
																	+ m * range,
															arr1[i][j] ]);
										}
									}
								}
							}

							if (count != 0)
								avg = avg / count * 100;
							else
								avg = avg * 100;
							avg = avg.toFixed(1);
							document.getElementById("percent").innerText = avg;
							var chart = echarts.init(document
									.getElementById('list'));
							option = {
								series : [ {
									type : 'heatmap',
									data : heatData,
									hoverable : false,
									blurSize : 50,
									gradientColors : [ {
										offset : 0.6,
										color : '#7cd813'
									}, {
										offset : 0.84,
										color : '#ece309'
									}, {
										offset : 0.88,
										color : '#f68413'
									}, {
										offset : 0.95,
										color : '#f93f39'
									}, {
										offset : 0.98,
										color : '#f82c25'
									} ],
									valueScale : 1
								} ]
							};
							chart.setOption(option);
						}
					});
		}
		heatMap();
		setInterval("heatMap()", "30000");
		/*]]>*/
	</script>

	<script type="text/javascript">
		/*<![CDATA[*/
		function close() {
			$("#close_btn").trigger('click');
		}
		setInterval("close()", "27777");
		function raiseHand() {
			$
					.ajax({
						type : "POST",
						timeout : 100000,//单次超时长连接时间为分钟
						url : "http://localhost:10003/realTime/raise",
						crossDomain : true,
						success : function(data) {
							if (data[0].answer == 0) {
								var r = $.session.get('raiseHand');
								if (r == 0) {
									$.session.set('raiseHand', 1);
									$("#t_title").trigger('click');
								} else {
									document.getElementById("container").innerHTML = "";
								}
								var html = "";
								for (var i = 0; i < data.length; i++) {
									var sid = data[i].sid;
									if (sid < 10) {
										sid = "0" + sid;
									}
									html += "<h4 style='color:grey'>"
											+ sid
											+ "号&nbsp;&nbsp;&nbsp;&nbsp;"
											+ data[i].sname
											+ "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(回答次数："
											+ data[i].standup
											+ "次&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;举手次数："
											+ data[i].raiseHand + "次)"
											+ "</h4>";
								}
								document.getElementById("container").innerHTML = html;
							} else if (data[0].answer == 1) {
								document.getElementById("container").innerHTML = "";
								$.session.set('raiseHand', 0);
								$("#close_btn").trigger('click');
							}
						},
						error : function(XMLHttpRequest, textStatus,
								errorThrown) {
							$("#close_btn").trigger('click');
							raiseHand();
						}
					});
		}
		raiseHand();
		setInterval("raiseHand()", "10000");
		/*]]>*/
	</script>

	<div id="t_class">
		<h4 class="btn btn-primary btn-block" data-toggle="modal"
			data-target="#myModal" id="t_title">讲&nbsp;&nbsp;&nbsp;&nbsp;台</h4>
	</div>

	<!-- 模态框（Modal） -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" id="close_btn"
						data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel"
						style="padding-left: 13px; color: #38a626">学习行为智能分析系统</h4>
				</div>
				<div class="modal-body">
					<div class="container" id="container"></div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal -->
	</div>
</body>
</html>