<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<link th:href="@{css/theme.css}" rel="stylesheet" />
	<link th:href="@{css/bootstrap.css}" rel="stylesheet" />
	<link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{bootstrap/css/bootstrap-responsive.min.css}" rel="stylesheet" />
	<link th:href="@{js/choose_stu/css/jquery-labelauty.css}" rel="stylesheet" />
	<title>报警处理窗口</title>
	<style>
		ul {
			width:500px;
			list-style-type: none;
			margin: 10px 5px;
		}
		li { 
			width:100px;
			display: inline-block;
			margin: 0px 0;
		}
		input.labelauty,label { 
			font: 8px "Microsoft Yahei";
		}
		span.choosespan{
			display:inline-block;
			margin:10px 10px 0px 0px;
			width:200px;
			text-align:left;
			border:1px solid #cccccc;
			background-color:#fff;
			height:30px;
			vertical-align:middle;
			line-height:30px;
		}
	</style>
</head>
<body style="margin: 0px;">
 
<div class="layui-container">

<div id="alarm_vedio" width="100%" style="margin:0px 10px 0px 10px">

<video id="vedio" width="100%" height="100%" autoplay="" src="../video/alarm1.mp4"  type="video/mp4" controls="controls" >您的浏览器不支持该视频格式。</video>
</div>


<div>
	<div id="state" style = "text-align:right; margin:15px 0px 0px 0px">
			<button class="btn btn-primary" style="margin:0px 10px;" onclick="dismiss()">&nbsp;&nbsp;误报&nbsp;&nbsp;</button>
			<button class="btn btn-primary" style="margin:0px 10px;" onclick="handle()">&nbsp;&nbsp;确认&nbsp;&nbsp;</button>
	</div>
		<div id="handle_alarm" style="display:none">
		<div class="form-group" style="margin:10px 10px 10px 10px">
		  <label for="name">事件描述：</label>
		  <textarea id="description"  class="form-control" rows="3" style="width:90%"></textarea>
		</div>
		
		<div id="handle" class="form-group" style="margin:0px 10px 10px 10px">
			<div>
				<label for="name" style="display:inline;">处理结果</label>
				<span id="plus" class="icon-plus-sign" style="display:inline-block;"></span>
			</div>
			<div id="select_team">
			</div>
		</div>
		<div style = "text-align:right; margin:15px 0px 0px 0px">
			<span id="warning" style="color:red;display:none">请至少完整填写一项处理结果</span>
			<button class="btn btn-primary" style="margin:0px 10px;" onclick="hide_handle()">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			<button class="btn btn-primary" style="margin:0px 10px;" onclick="sub_handle()">&nbsp;&nbsp;提交&nbsp;&nbsp;</button>
		</div>
		</div>

</div>

</div>

<script th:src="@{scripts/jquery-1.9.1.min.js}" type="text/javascript"></script>
<script th:src="@{js/layer/layer.js}"></script>
<script th:src="@{js/choose_stu/js/jquery-labelauty.js}" type="text/javascript"></script>
<script th:src="@{js/ref/jquerysession.js}"></script>
<script>
window.alarm_count=0;

window.onload=function (){
	var src = window.location.href;
	window.id =  parseInt(src.substr(src.indexOf("?alarm_id=") + 10));
	$.ajax({
	        url: 'http://218.94.159.98:10002/study/get_s_alarm',
	        //dataType: 'String',
	        type: 'POST',
	        data: {'alarm_id': window.id },
	        async: false,
	        success: function (obj) {
	        	//obj["vedio_path"]
	        	var latency=parseInt(obj["start"]);
	        	var path=obj["vedio_path"];
	        	var video='<video id="video" width="100%" height="100%" autoplay="" src="'+path+'"  type="video/mp4" controls="controls" >您的浏览器不支持该视频格式。</video>'
	        	document.getElementById("alarm_vedio").innerHTML =video;
	        	document.getElementById("video").currentTime =latency;
	        }
	});
}



function getVideoPath(){
	document.getElementById('alarm_vedio').src = "../video/alarm1.mp4";
	
}
//确认
function handle(){
	document.getElementById('handle_alarm').style.display="";
	document.getElementById('state').style.display="none";
}
//取消
function hide_handle(){
	document.getElementById('handle_alarm').style.display="none";
	document.getElementById('state').style.display="";
}
//提交
function sub_handle(){
	var count=0;
	/* <![CDATA[ */
		var students_behaviour=[];
		for(var i=1;i<=alarm_count;i++){
			var student=document.getElementById("multistu"+i).value;
			var index=document.getElementById("behavior"+i).selectedIndex;
			if(student!=null&&index!=0){
				var row={'students':student,'behaviour':index};
				students_behaviour.push(row);
				}
		}
	/* ]]> */
	if(students_behaviour.length==0){
		document.getElementById('warning').style.display="";
		setTimeout(function(){
			document.getElementById('warning').style.display="none";
			},2000);
	}else{
		var data =
            {
				"description": $("#description").val(),
                "behaviours": students_behaviour
            };
		var jsonString = JSON.stringify(data);
        //alert(jsonString);
		var id=$.session.get('alarm_id');
		$.ajax({
	        url: 'http://218.94.159.98:10002/study/alarmhandle',
	        //dataType: 'String',
	        type: 'POST',
	        data: {'alarm_id': parseInt(id), 'h_type': 3,'handle':jsonString},
	        async: false,
	        success: function (obj) {
	        	var index = parent.layer.getFrameIndex(window.name);
	        	parent.layer.close(index);
	        	parent.layer.msg(obj,{
	        	    time: 2000, //20s后自动关
	        	  });
	        	parent.location.reload();
	           },
	        error: function(){
	        	var index = parent.layer.getFrameIndex(window.name);
	        	parent.layer.close(index);
        		parent.layer.msg("操作失败",{
	        	    time: 20000, 
	        	  });
        		parent.location.reload();
	            }
	    });
		}
	}
//误报
function dismiss(){
	var id=$.session.get('alarm_id');
	var result="";
	$.ajax({
        url: 'http://218.94.159.98:10002/study/alarmhandle',
        //dataType: 'String',
        type: 'POST',
        data: {'alarm_id': parseInt(id), 'h_type': 2,'handle':''},
        async: false,
        success: function (obj) {
        	var index = parent.layer.getFrameIndex(window.name);
        	parent.layer.close(index);
        	parent.layer.msg(obj,{
        	    time: 20000, //20s后自动关闭
        	  });
        	parent.location.reload();
           },
        error: function(){
        	var index = parent.layer.getFrameIndex(window.name);
        	parent.layer.close(index);
        	parent.layer.msg("操作失败",{
        	    time: 20000, //20s后自动关闭
        	  });
        	parent.location.reload();
            }
    });
	
}

</script>
<script th:src="@{scripts/study/alarmhandle.js}"></script>
<script th:src="@{bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
</body>
</html>        
        