<!DOCTYPE html>
<html lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>学习行为智能分析助手</title>
        <!-- <link type="text/css" href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link type="text/css" href="../bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link type="text/css" href="../css/theme.css" rel="stylesheet">
        <link type="text/css" href="../images/icons/css/font-awesome.css" rel="stylesheet">
        <link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600'
              rel='stylesheet'> -->
        <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{bootstrap/css/bootstrap-responsive.min.css}" rel="stylesheet" />
        <link th:href="@{css/theme.css}" rel="stylesheet" />
        <link th:href="@{css/message.css}" rel="stylesheet" />
        <link th:href="@{images/icons/css/font-awesome.css}" rel="stylesheet" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet' />
    	<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' />
    </head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <i class="icon-reorder shaded"></i></a>

            <a class="brand" href="students.html">学习行为智能分析助手 </a>

            <div class="nav-collapse collapse navbar-inverse-collapse">
                <ul class="nav pull-left">
                    <li><a href="http://localhost:10001/students">
                        学生分析
                    </a></li>
                    <li><a href="http://localhost:10001/subjectHistory">
                        课堂状态
                    </a></li>
                    <li><a class='active' href="http://localhost:10001/study">
                        自习提醒
                    </a></li>
                    <li><a href="http://localhost:10001/approval">
                        请假录入
                    </a></li>

                </ul>


                <ul class="nav pull-right">

                    <li><a><span id="time_tip">早上好</span>&nbsp;<span id="teacher_name">XX</span>老师</a></li>
                    <li class="nav-user dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="../images/user.png" class="nav-avatar"/>
                        <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">座位表录入</a></li>
                            <li><a href="#">学生录入</a></li>
                            <li><a href="#">账户设置</a></li>
                            <li class="divider"></li>
                            <li><a href="#">登出</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.nav-collapse -->

        </div>
    </div>
    <!-- /navbar-inner -->
</div>
<!-- /navbar -->
<div class="wrapper">
    <div class="container">
        <div class="row">

            <div class="span8 offset2">
                <div class="content">
                    <div class="module">
                        <div class="module-head">
                            <a class="icon-sort-down pull-left" href="#"></a>
                            <h3 class='' style="margin-left: 30px">一年级3班</h3>
                        </div>
                    </div>
                    
                        
                        
                        <!-- <div id="content">
  							<div class="notification blue">
								<div class="info">
									<p id="numA_handle">待处理警报：1</p>
							          <p id="numA_confirm">待处理警报：2</p>
							          <p id="numP_handle">待处理警报：2</p>
							    </div>
							     <div class="icon">
							    	<i class="fa fa-newspaper-o"></i>
							    	
							    </div>
							</div>
					  	</div> -->
					  	
					<div class="module message">
					  	<table class="table table-message">
                                <tbody id="ware">
                                	<tr class="heading">
										<td class="cell-time align-center">提醒事项</td>
                                	</tr>
                                	<tr class="task">
                                		<td class="cell-time align-center" id="numA_handle"></td>
                                	</tr>
                                	<tr class="task">
                                		<td class="cell-time align-center" id="numA_confirm"></td>
                                	</tr>
                                	<tr class="task">
                                		<td class="cell-time align-center" id="numP_handle"></td>
                                	</tr>
                                </tbody>
                        </table>
					</div>
								

                    <div class="module message">
                        <div class="module-head">
                            <h3>历史报警</h3>
                        </div>
                        <div class="module-option clearfix">
                            <div class="pull-left">
                                <div class="btn-group">
                                    <button class="btn" id="alarmtype">最近一周</button>
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a onclick="newAlarmList(this.innerText)">最近一天</a></li>
                                        <li><a onclick="newAlarmList(this.innerText)">最近一周</a></li>
                                        <li><a onclick="newAlarmList(this.innerText)">最近一月</a></li>
                                        <li><a onclick="newAlarmList(this.innerText)">全部</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="module-body table">

                            <table class="table table-message">
                                <tbody id="alarmlist">
                                </tbody>
                            </table>


                        </div>
                        <div class="module-foot">
                        </div>
                    </div>

                    <div class="module message">
                        <div class="module-head">
                            <h3>模式提醒</h3>
                        </div>
                        <div class="module-option clearfix">
                            <div class="pull-left">
                                <div class="btn-group">
                                    <button class="btn" id="patterntype">最近一周</button>
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a onclick="newPatternList(this.innerText)">今天</a></li>
                                        <li><a onclick="newPatternList(this.innerText)">最近一周</a></li>
                                        <li><a onclick="newPatternList(this.innerText)">最近一月</a></li>
                                        <li><a onclick="newPatternList(this.innerText)">全部</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="module-body table">

                            <table class="table table-message">
                                <tbody id="patternlist">
                                </tbody>
                            </table>

                        </div>
                        <div class="module-foot">
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<div class="footer">
</div>



<script th:src="@{scripts/jquery-1.9.1.min.js}" type="text/javascript"></script>
<script th:src="@{scripts/jquery-ui-1.10.1.custom.min.js}" type="text/javascript"></script>
<script th:src="@{bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{scripts/flot/jquery.flot.js}" type="text/javascript"></script>
<script th:src="@{scripts/datatables/jquery.dataTables.js}" type="text/javascript"></script>
<script th:src="@{scripts/echarts.common.min.js}" type="text/javascript"></script>
<script th:src="@{scripts/echarts.min.js}" type="text/javascript"></script>
<script th:src="@{js/websocket.js}" type="text/javascript"></script>
<script th:src="@{js/layer/layer.js}" type="text/javascript"></script>
<script th:src="@{scripts/study/study.js}" type="text/javascript"></script>
<script th:src="@{js/ref/jquerysession.js}"></script>
<script type="text/javascript">
<script th:src="@{scripts/js/util.js}"></script>

//window.cid=2;

window.onload=function (){
	window.cid=$.session.get('cid');
	if(window.cid==null) window.cid=2;
	
	changeUserInfo();
	getClassInfo(sequenceId);//在这里获得cid
	
	AlarmList(window.cid);
	PatternList(window.cid);
	getNum(window.cid);
} 

    $(document).ready(function() {
        $('.table-message tbody tr').click(
            function()
            {
                $(this).toggleClass('resolved');
            }
        );
    } );

    function handle_alarm(id){
    	$.session.set('alarm_id',id);
    	layer.open({
  		  type: 2 //Page层类型
  		  ,skin: 'layui-layer-lan'
  		  ,closeBtn: 1
  		  ,area: ['600px', '700px']
  		  ,title: '警报处理'
  		  ,shade: 0.1 //遮罩透明度
  		  ,maxmin: true //允许全屏最小化
  		  ,anim: 2 //0-6的动画形式，-1不开启
  		  ,content: 'http://localhost:10001/handle_alarm.html?alarm_id='+id
  		  });
        }
    function handle_pattern(id){
    	$.session.set('pattern_id',id);
    	layer.open({
  		  type: 2 //Page层类型
  		  ,skin: 'layui-layer-lan'
  		  ,closeBtn: 1
  		  ,area: ['600px', '400px']
  		  ,title: '模式处理'
  		  ,shade: 0.1 //遮罩透明度
  		  ,maxmin: true //允许全屏最小化
  		  ,anim: 2 //0-6的动画形式，-1不开启
  		  ,content: 'http://localhost:10001/handle_pattern.html'
  		  });
        }


  
</script>
</body>
</html>