<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>课堂助手</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script th:src="@{/js/ref/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/ref/jquery.min.js}"></script>
<script th:src="@{js/ref/jquerysession.js}"></script>
<script th:src="@{js/ref/bootstrap.min.js}"></script>
<script th:src="@{js/checkLogin.js}"></script>
<link rel="stylesheet" th:href="@{css/bootstrap.css}" />
<style>
#brand {
	margin-left: 20px;
	color: #38a626;
	font-weight: bold;
	margin-right:50px;
}

#logout {
	margin-left: 20px;
}

#block {
	margin-top: 80px;
	margin-left: 50px;
	margin-right: 50px;
	width: 100%;
}
h4{
	margin-top: 50px;
	margin-bottom: 20px;
}
.table{
	width:90%;
}
.line:hover{
	background:#644790;
	color:white;
}
</style>

</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" id="brand">课&nbsp;堂&nbsp;助&nbsp;手</a>
			</div>

			<div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="http://localhost:10001/class">班级列表</a></li>
					<li class="active"><a href="#">全校班级信息统计</a></li>
					<li><a href="http://localhost:10001/number">班级人数统计</a></li>
					<li><a href="http://localhost:10001/help">帮助文档</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href='http://localhost:10001/login' id='logout'>登出</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<div id="block">
		<h4>一年级</h4>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>班级</th>
					<th>班主任</th>
					<th>最近考试总平均分</th>
					<th>本次排名</th>
					<th>课堂活跃度</th>
					<th>课堂专注度</th>
					<th>自习专注度</th>
					<th>上次排名</th>
				</tr>
			</thead>
			<tbody>
				<tr class="line">
					<td>0808112</td>
					<td>张三</td>
					<td>90</td>
					<td>100</td>
					<td>100</td>
					<td>100</td>
					<td>99</td>
					<td>100</td>
				</tr>
				<tr class="line">
					<td>2</td>
					<td>李四</td>
					<td>100</td>
					<td>100</td>
					<td>100</td>
					<td>100</td>
					<td>99</td>
					<td>100</td>
				</tr>
				<tr class="line">
					<td>3</td>
					<td>王五</td>
					<td>100</td>
					<td>100</td>
					<td>100</td>
					<td>100</td>
					<td>99</td>
					<td>100</td>
				</tr>
			</tbody>
		</table>
		
		<h4>二年级</h4>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>班级</th>
					<th>班主任</th>
					<th>最近考试总平均分</th>
					<th>本次排名</th>
					<th>课堂活跃度</th>
					<th>课堂专注度</th>
					<th>自习专注度</th>
					<th>上次排名</th>
				</tr>
			</thead>
			<tbody>
				<tr class="line">
					<td>0808112</td>
					<td>张三</td>
					<td>90</td>
					<td>100</td>
					<td>100</td>
					<td>100</td>
					<td>99</td>
					<td>100</td>
				</tr>
				<tr class="line">
					<td>2</td>
					<td>李四</td>
					<td>100</td>
					<td>100</td>
					<td>100</td>
					<td>100</td>
					<td>99</td>
					<td>100</td>
				</tr>
				<tr class="line">
					<td>3</td>
					<td>王五</td>
					<td>100</td>
					<td>100</td>
					<td>100</td>
					<td>100</td>
					<td>99</td>
					<td>100</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>