<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>学习行为智能分析助手</title>
    <link rel="stylesheet" th:href="@{bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{bootstrap/css/bootstrap-responsive.min.css}"/>
    <link rel="stylesheet" th:href="@{css/theme.css}"/>
    <link rel="stylesheet" th:href="@{images/icons/css/font-awesome.css}"/>
    <link rel="stylesheet" th:href="@{http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600}"/>
    <link rel="stylesheet" th:href="@{bootstrap-datepicker/css/bootstrap-datepicker.min.css}"/>
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <i class="icon-reorder shaded"></i></a>

            <a class="brand" href="students.html">学习行为智能分析助手 </a>

            <div class="nav-collapse collapse navbar-inverse-collapse">
                <ul class="nav pull-left">
                    <li><a href="http://localhost:10001/students">
                        学生分析
                    </a></li>
                    <li><a href="http://localhost:10002/sub">
                        课堂状态
                    </a></li>
                    <li><a href="study.html">
                        自习报警
                    </a></li>
                    <li><a class='active' href="http://localhost:10001/approval">
                        请假管理
                    </a></li>

                </ul>


                <ul class="nav pull-right">

                    <li><a><span id="time_tip">早上好</span>&nbsp;<span id="teacher_name">XX</span>老师</a></li>
                    <li class="nav-user dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="../images/user.png" class="nav-avatar"/>
                        <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">座位表录入</a></li>
                            <li><a href="#">学生录入</a></li>
                            <li><a href="#">账户设置</a></li>
                            <li class="divider"></li>
                            <li><a href="#">登出</a></li>
                        </ul>
                    </li>

                </ul>
            </div><!-- /.nav-collapse -->

        </div>
    </div>
    <!-- /navbar-inner -->
</div>
<!-- /navbar -->
<div class="wrapper">
    <div class="container">
        <div class="row">

            <div class="span8 offset2">
                <div class="content">
                    <div class="module">
                        <div class="module-head">
                            <div class="dropdown">
                                <div data-toggle="dropdown">
                                    <a class="icon-sort-down pull-left"></a>
                                    <h3 class='' style="margin-left: 30px" id="current_cname"></h3>
                                </div>
                                <ul class="dropdown-menu" id="class_list">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="module message">
                        <div class="module-head">
                            <h3>请假说明列表</h3>
                        </div>
                        <div class="module-option clearfix">
                            <div class="pull-left">
                                <div class="btn-group">
                                    <button class="btn" id="time_filter"></button>
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" id="time_list">
                                        <li><a onclick="changeTime(1)">今天</a></li>
                                        <li><a onclick="changeTime(3)">未来三天</a></li>
                                        <li><a onclick="changeTime(7)">未来一周</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pull-right">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#ApprovalForLeaving">
                                    新增请假说明
                                </button>
                            </div>
                        </div>

                        <div class="modal fade" id="ApprovalForLeaving" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">请假说明</h4>
                                    </div>
                                    <div class="modal-body">

                                        <form class="form-horizontal row-fluid">
                                            <div class="control-group">
                                                <label class="control-label" for="sid">学生学号</label>
                                                <div class="controls">
                                                    <input type="text" id="sid"
                                                           placeholder="输入后两位即可"
                                                           class="span8"/>
                                                    <span class="help-inline"></span>
                                                </div>
                                            </div>

                                            <div class="control-group">
                                                <label class="control-label" for="date">请假日期</label>
                                                <div class="controls">
                                                    <input type="text" placeholder="YYYY-MM-DD" id="date"
                                                           class="span8"/>
                                                    <span class="help-inline"></span>
                                                </div>
                                            </div>


                                            <div class="control-group">
                                                <label class="control-label">请假课程</label>
                                                <div id="tid">
                                                    <div class="controls">
                                                        <label class="checkbox inline">
                                                            <input type="checkbox" name="timeM" onclick="swapCheckM()"
                                                                   value=""/>
                                                            上午
                                                        </label>
                                                        <label class="checkbox inline">
                                                            <input type="checkbox" name="timeM" value="1"/>
                                                            第1节
                                                        </label>
                                                        <label class="checkbox inline">
                                                            <input type="checkbox" name="timeM" value="2"/>
                                                            第2节
                                                        </label>
                                                        <label class="checkbox inline">
                                                            <input type="checkbox" name="timeM" value="3"/>
                                                            第3节
                                                        </label>
                                                    </div>
                                                    <div class="controls">
                                                        <label class="checkbox inline">
                                                            <input type="checkbox" name="timeA" onclick="swapCheckA()"
                                                                   value=""/>
                                                            下午
                                                        </label>
                                                        <label class="checkbox inline">
                                                            <input type="checkbox" name="timeA" value="4"/>
                                                            第4节
                                                        </label>
                                                        <label class="checkbox inline">
                                                            <input type="checkbox" name="timeA" value="5"/>
                                                            第5节
                                                        </label>
                                                        <label class="checkbox inline">
                                                            <input type="checkbox" name="timeA" value="6"/>
                                                            第6节
                                                        </label>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="control-group">
                                                <label class="control-label">请假类型</label>
                                                <div class="controls" id="type">
                                                    <label class="radio inline">
                                                        <input type="radio" name="optionsRadios" id="optionsRadios1"
                                                               value="病假" checked=""/>
                                                        病假
                                                    </label>
                                                    <label class="radio inline">
                                                        <input type="radio" name="optionsRadios" id="optionsRadios2"
                                                               value="事假"/>
                                                        事假
                                                    </label>
                                                </div>
                                            </div>


                                            <div class="control-group">
                                                <label class="control-label">请假理由</label>
                                                <div class="controls">
                                                    <textarea class="span8" rows="5" placeholder="具体理由，如去医院等"
                                                              id="reason"></textarea>
                                                </div>
                                            </div>
                                        </form>
                                        <div id="alertInfo">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                        <button type="button" class="btn btn-primary" onclick="submit()">提交更改</button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>


                        <div class="modal modal-success fade" id="success-modal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <!--<button type="button" class="close" data-dismiss="modal"-->
                                        <!--aria-label="Close">-->
                                        <!--<span aria-hidden="true">×</span></button>-->
                                        <h4 class="modal-title">成功</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>请假信息更新成功</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" onclick="reload()" class="btn btn-outline pull-right"
                                                data-dismiss="modal">关闭
                                        </button>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                        </div>


                        <div class="module-body table">

                            <table class="table table-message">
                                <tbody id="approval_list">


                                </tbody>
                            </table>


                        </div>

                        <div class="modal fade" id="delete_approval">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">×</span></button>
                                        <!--<h4 class="modal-title">确认删除？</h4>-->
                                    </div>
                                    <div class="modal-body">
                                        <p>确认删除该请假说明？</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button"
                                                class="btn btn-default pull-left"
                                                data-dismiss="modal">取消
                                        </button>
                                        <button type="button" onclick="del()" class="btn btn-primary"
                                                data-dismiss="modal">确认
                                        </button>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>

                        <div class="module-foot">
                        </div>
                    </div>


                </div><!--/.content-->
            </div><!--/.span9-->
        </div>
    </div>
    <!--/.container-->
</div>
<!--/.wrapper-->
<div class="footer">
    <div class="container">
        <!--<b class="copyright">&copy; 2017 EGrappler </b>All rights reserved.-->
    </div>
</div>

<script th:src="@{scripts/jquery-1.9.1.min.js}"></script>
<script th:src="@{scripts/jquery-ui-1.10.1.custom.min.js}"></script>
<script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{js/ref/jquerysession.js}"></script>
<script th:src="@{scripts/flot/jquery.flot.js}"></script>
<script th:src="@{scripts/js/util.js}"></script>
<script th:src="@{scripts/js/approval.js}"></script>
<script th:src="@{scripts/datatables/jquery.dataTables.js}"></script>
<script th:src="@{bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js}"></script>


<script>
    $('#date').datepicker({
        format: "yyyy-mm-dd",
        language: "zh-CN",
        todayHighlight: true,
        multidate: true,
        multidateSeparator: ",",
        toggleActive:true
    })
    ;
</script>
<script>
    function click_delete_Approval(obj) {
        id = $(obj).attr('id');
        $('#delete_approval').modal();

    }

    function del() {
        $.ajax({
            url: "http://localhost:10002/approval/del",
            type: 'POST',
            dataType: 'json',
            data: {
                'id': id
            },
            success: function (obj) {

            }
        });
        window.location.reload();
    }

    function submit() {

        addApproval();
    }

    function reload() {
        window.location.reload();
    }

</script>
</body>
</html>
