<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>学习行为智能分析助手</title>
<link rel="stylesheet" th:href="@{bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{bootstrap/css/bootstrap-responsive.min.css}" />
<link rel="stylesheet" th:href="@{css/theme.css}" />
<link rel="stylesheet" th:href="@{images/icons/css/font-awesome.css}" />
<link rel="stylesheet"
	th:href="@{http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600}" />
<script th:src="@{scripts/jquery-1.9.1.min.js}"></script>
<script th:src="@{scripts/jquery-ui-1.10.1.custom.min.js}"></script>
<script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{js/ref/jquerysession.js}"></script>
<script th:src="@{scripts/flot/jquery.flot.js}"></script>
<script th:src="@{scripts/echarts.min.js}"></script>
<script>
	/*<![CDATA[*/

	function backToIndex() {
		window.location.href = "http://localhost:10001/students";
	}

	function getDateArr(num) {
		var nowdate = new Date();
		var array = new Array();
		for (var i = 0; i < num; i++) {
			var date = new Date(nowdate - (num - i) * 7 * 24 * 3600 * 1000);
			var seperator1 = ".";
			var month = date.getMonth() + 1;
			var strDate = date.getDate();
			if (month >= 1 && month <= 9) {
				month = "0" + month;
			}
			if (strDate >= 0 && strDate <= 9) {
				strDate = "0" + strDate;
			}
			var currentdate = month + seperator1 + strDate;
			array[i] = currentdate;
		}
		return array;
	}

	function aaa(type) {
		if (type == 1) {
			document.getElementById("time_filter").innerText = "今天";
		} else if (type == 2) {
			document.getElementById("time_filter").innerText = "最近一周";
		} else if (type == 3) {
			document.getElementById("time_filter").innerText = "最近一月";
		} else {
			document.getElementById("time_filter").innerText = "本学期";
		}

		var myChart = echarts.init(document.getElementById('main'));
		var option;

		// 指定图表的配置项和数据
		if (type == 1) {
			option = {
				tooltip : {
					trigger : 'axis'
				},
				grid : {
					left : '3%',
					right : '4%',
					bottom : '3%',
					containLabel : true
				},
				xAxis : {
					type : 'category',
					data : [ "语文", "数学", "英语", "品德", "科学" ],
					axisTick : {
						alignWithLabel : true
					}
				},
				yAxis : {
					type : 'value'
				},
				series : [ {
					type : 'bar',
					data : [ 28, 15, 20, 10, 16 ],
					barWidth : '50%',
					itemStyle : {
						normal : {
							color : function(params) {
                                var colorList = ['#37a2da', '#67e0e3', '#ffe080', '#fbb8a2', '#e58dc2', '#61a0a8', '#d48265', '#91c7ae', '#749f83', '#ca8622', '#bda29a', '#6e7074', '#546570', '#c4ccd3'];

                                return colorList[params.dataIndex];
							},
							lineStyle : {
								color : '#1E90FF'
							}
						}
					},
				} ]
			};
			// 使用刚指定的配置项和数据显示图表。
			myChart.setOption(option);
		}

		else if (type == 2) {
			$

			option = {
				tooltip : {
					trigger : 'axis'
				},
				grid : {
					left : '3%',
					right : '4%',
					bottom : '3%',
					containLabel : true
				},
				xAxis : {
					type : 'category',
					data : [ "语文", "数学", "英语", "品德", "科学" ],
					axisTick : {
						alignWithLabel : true
					}
				},
				yAxis : {
					type : 'value'
				},
				series : [ {
					type : 'bar',
					data : [ 22, 8, 30, 20, 12 ],
					barWidth : '50%',
					itemStyle : {
						normal : {
							color : function(params) {
                                var colorList = ['#37a2da', '#67e0e3', '#ffe080', '#fbb8a2', '#e58dc2', '#61a0a8', '#d48265', '#91c7ae', '#749f83', '#ca8622', '#bda29a', '#6e7074', '#546570', '#c4ccd3'];

                                return colorList[params.dataIndex];
							},
							lineStyle : {
								color : '#1E90FF'
							}
						}
					},
				} ]
			};
			// 使用刚指定的配置项和数据显示图表。
			myChart.setOption(option);
		}

		else if (type == 3) {
			var sub = [ "语文", "数学", "英语", "品德", "科学" ];
			var data = [ [ 26, 28, 25, 32 ], [ 5, 10, 14, 18 ],
					[ 28, 30, 29, 30 ], [ 27, 24, 21, 22 ], [ 15, 33, 19, 11 ] ];
			option = {
				tooltip : {
					trigger : 'axis'
				},
				legend : {
					data : sub
				},
				grid : {
					left : '3%',
					right : '4%',
					bottom : '3%',
					containLabel : true
				},
				xAxis : {
					type : 'category',
					boundaryGap : false,
					data : getDateArr(4)
				},
				yAxis : {
					type : 'value'
				},
				series : [ {
					name : sub[0],
					type : 'line',
					data : data[0],
					itemStyle : {
						normal : {
							color : '#37a2da',
							lineStyle : {
								color : '#37a2da'
							}
						}
					},
				}, {
					name : sub[1],
					type : 'line',
					data : data[1],
					itemStyle : {
						normal : {
							color : '#67e0e3',
							lineStyle : {
								color : '#67e0e3'
							}
						}
					},
				}, {
					name : sub[2],
					type : 'line',
					data : data[2],
					itemStyle : {
						normal : {
							color : '#ffe080',
							lineStyle : {
								color : '#ffe080'
							}
						}
					},
				}, {
					name : sub[3],
					type : 'line',
					data : data[3],
					itemStyle : {
						normal : {
							color : '#fbb8a2',
							lineStyle : {
								color : '#fbb8a2'
							}
						}
					},
				}, {
					name : sub[4],
					type : 'line',
					data : data[4],
					itemStyle : {
						normal : {
							color : '#e58dc2',
							lineStyle : {
								color : '#e58dc2'
							}
						}
					},
				} ]
			};
			// 使用刚指定的配置项和数据显示图表。
			myChart.setOption(option);
		}

		else {
			var sub = [ "语文", "数学", "英语", "品德", "科学" ];
			var data = [ [ 28, 30, 30, 29, 31, 29, 29, 31, 31, 33, 33, 34 ],
					[ 20, 6, 15, 18, 15, 16, 16, 16, 18, 19, 19, 20 ],
					[ 30, 30, 29, 33, 29, 32, 31, 30, 30, 30, 29, 30 ],
					[ 16, 28, 22, 26, 26, 27, 28, 27, 27, 29, 28, 28 ],
					[ 25, 18, 28, 27, 26, 26, 26, 25, 24, 23, 26, 26 ] ];
			option = {
				tooltip : {
					trigger : 'axis'
				},
				legend : {
					data : sub
				},
				grid : {
					left : '3%',
					right : '4%',
					bottom : '3%',
					containLabel : true
				},
				xAxis : {
					type : 'category',
					boundaryGap : false,
					data : getDateArr(12)
				},
				yAxis : {
					type : 'value'
				},
				series : [ {
					name : sub[0],
					type : 'line',
					data : data[0],
					itemStyle : {
						normal : {
							color : '#37a2da',
							lineStyle : {
								color : '#37a2da'
							}
						}
					},
				}, {
					name : sub[1],
					type : 'line',
					data : data[1],
					itemStyle : {
						normal : {
							color : '#67e0e3',
							lineStyle : {
								color : '#67e0e3'
							}
						}
					},
				}, {
					name : sub[2],
					type : 'line',
					data : data[2],
					itemStyle : {
						normal : {
							color : '#ffe080',
							lineStyle : {
								color : '#ffe080'
							}
						}
					},
				}, {
					name : sub[3],
					type : 'line',
					data : data[3],
					itemStyle : {
						normal : {
							color : '#fbb8a2',
							lineStyle : {
								color : '#fbb8a2'
							}
						}
					},
				}, {
					name : sub[4],
					type : 'line',
					data : data[4],
					itemStyle : {
						normal : {
							color : '#e58dc2',
							lineStyle : {
								color : '#e58dc2'
							}
						}
					},
				} ]
			};
			// 使用刚指定的配置项和数据显示图表。
			myChart.setOption(option);
		}
	}
	/*]]>*/
</script>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target=".navbar-inverse-collapse"> <i
					class="icon-reorder shaded"></i></a> <a class="brand"
					href="students.html">学习行为智能分析助手 </a>

				<div class="nav-collapse collapse navbar-inverse-collapse">
					<ul class="nav pull-left">
						<li><a class='active' href="http://localhost:10001/students">
							学生分析
						</a></li>
						<li><a href="http://localhost:10001/subjectHistory">
							课堂状态
						</a></li>
						<li><a href="http://localhost:10001/study">
							自习提醒
						</a></li>
						<li><a href="http://localhost:10001/approval">
							请假管理
						</a></li>
					</ul>
					<ul class="nav pull-right">
						<li><a><span id="time_tip">下午好，</span>&nbsp;<span id="teacher_name">胡风</span>老师</a></li>
						<li class="nav-user dropdown"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown"> <img
								src="../images/user.png" class="nav-avatar" /> <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">座位表录入</a></li>
								<li><a href="#">学生录入</a></li>
								<li><a href="#">账户设置</a></li>
								<li class="divider"></li>
								<li><a href="#">登出</a></li>
							</ul></li>

					</ul>
				</div>
				<!-- /.nav-collapse -->

			</div>
		</div>
		<!-- /navbar-inner -->
	</div>
	<!-- /navbar -->

	<div class="wrapper">
		<div class="container">
			<div class="row">

				<div class="span8 offset2">
					<div class="content">
						<div class="module">
							<div class="module-head">
								<div class="dropdown">
									<div data-toggle="dropdown">
										<a class="icon-sort-down pull-left"></a>
										<h3 class='' style="margin-left: 30px" id="current_cname">1年级2班</h3>
									</div>
									<ul class="dropdown-menu" id="class_list">
										<li><a>1年级2班</a></li>
									</ul>
								</div>
							</div>
						</div>


						<!--/#btn-controls-->
						<div class="module message">
							<div class="module-head">
								<h3>课堂整体活跃度</h3>
							</div>
							<div class="module-option clearfix">

								<div class="pull-left">
									时间 : &nbsp;
									<div class="btn-group">
										<button class="btn" id="time_filter">今天</button>
										<button class="btn dropdown-toggle" data-toggle="dropdown">
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu" id="time_list">
											<li><a onclick="aaa(1)">今天</a></li>
											<li><a onclick="aaa(2)">最近一周</a></li>
											<li><a onclick="aaa(3)">最近一月</a></li>
											<li class="divider"></li>
											<li><a onclick="aaa(4)">本学期</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="module-body table">
								<div id="main"
									style="width: 650px; height: 300px; margin: 0 auto"></div>
								<div class="module-foot"></div>
							</div>
							<!--/.module-->
						</div>
						<!--/.content-->
					</div>
					<!--/.span9-->

				</div>
			</div>
			<!--/.container-->
		</div>
	</div>
	<!--/.wrapper-->
	<script>
		aaa(1);
	</script>
</body>
</html>