<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>学习行为智能分析助手</title>
    <link rel="stylesheet" th:href="@{bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{bootstrap/css/bootstrap-responsive.min.css}"/>
    <link rel="stylesheet" th:href="@{css/theme.css}"/>
    <link rel="stylesheet" th:href="@{images/icons/css/font-awesome.css}"/>
    <link rel="stylesheet" th:href="@{http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600}"/>
</head>

<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <i class="icon-reorder shaded"></i></a>

            <a class="brand" href="students.html">学习行为智能分析助手 </a>

            <div class="nav-collapse collapse navbar-inverse-collapse">
                <ul class="nav pull-left">
                    <li><a class='active' href="http://localhost:10001/students">
                        学生分析
                    </a></li>
                    <li><a href="lesson.html">
                        课堂状态
                    </a></li>
                    <li><a href="study.html">
                        自习报警
                    </a></li>
                    <li><a href="http://localhost:10001/approval">
                        请假管理
                    </a></li>

                </ul>


                <ul class="nav pull-right">


                    <li><a><span id="time_tip">早上好</span>&nbsp;<span id="teacher_name">XX</span>老师</a></li>
                    <li class="nav-user dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="../images/user.png" class="nav-avatar"/>
                        <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">座位表录入</a></li>
                            <li><a href="#">学生录入</a></li>
                            <li><a href="#">账户设置</a></li>
                            <li class="divider"></li>
                            <li><a href="#">登出</a></li>
                        </ul>
                    </li>

                </ul>
            </div><!-- /.nav-collapse -->

        </div>
    </div>
    <!-- /navbar-inner -->
</div>
<!-- /navbar -->
<div class="wrapper">
    <div class="container">
        <div class="row">

            <div class="span8 offset2">
                <div class="content">
                    <div class="module">
                        <div class="module-head">
                            <div class="dropdown">
                                <div class="pull-left">
                                    <div data-toggle="dropdown">
                                        <a class="icon-sort-down pull-left"></a>
                                        <h3 class='' style="margin-left: 30px" id="current_cname"></h3>
                                    </div>
                                    <ul class="dropdown-menu" id="class_list">
                                    </ul>
                                </div>
                                <div class="pull-right">
                                    <div class="btn-group">
                                        <button class="btn" id="time_filter">今天</button>
                                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" id="time_list">
                                            <li><a onclick="changeTimeStu(1)">今天</a></li>
                                            <li><a onclick="changeTimeStu(3)">最近三天</a></li>
                                            <li><a onclick="changeTimeStu(7)">最近一周</a></li>
                                            <li><a onclick="changeTimeStu(30)">最近一月</a></li>
                                            <li class="divider"></li>
                                            <li><a onclick="changeTimeStu(90)">本学期</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <h3>
                                    <!--使得module-head有留白-->
                                </h3>
                            </div>
                        </div>
                    </div>

                    <div class="btn-controls">

                        <div class="btn-box-row row-fluid">

                            <ul class="widget widget-usage unstyled span12">
                                <li>
                                    <p>
                                        <strong><span id="time_pro">今天</span>进步较大的同学有<span id="pro_Num"></span>人</strong>
                                        <strong>他们是：</strong>
                                        <span id="pro_name"></span>
                                        <span class="pull-right small muted" id="pro_percent"></span>
                                    </p>
                                    <div class="progress tight"  id="pro_cent">

                                    </div>
                                </li>
                                <li>
                                    <p>
                                        <strong><span id="time_pro1">今天</span>退步较大的同学有<span id="pro_Num1"></span>人</strong>
                                        <strong>他们是：</strong>
                                        <span id="pro_name1"></span>
                                        <span class="pull-right small muted" id="pro_percent1"></span>
                                    </p>
                                    <div class="progress tight"  id="pro_cent1">

                                    </div>
                                </li>
                                <li>
                                    <p>

                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--/#btn-controls-->
                    <div class="module message">
                        <div class="module-head">
                            <h3>学生列表</h3>
                        </div>


                        <div class="module-body table">
                            <table class="table table-message">
                                <tbody id="students_list">


                                </tbody>
                            </table>
                        </div>
                        <div class="module-foot">
                        </div>
                    </div>
                    <!--/.module-->
                </div>
                <!--/.content-->
            </div>
            <!--/.span9-->

        </div>
    </div>
    <!--/.container-->
</div>
<!--/.wrapper-->
<div class="footer">
    <!--<div class="container">-->
    <!--<b class="copyright">&copy; 2017 EGrappler </b>All rights reserved.-->
    <!--</div>-->
</div>


<script th:src="@{scripts/jquery-1.9.1.min.js}"></script>
<script th:src="@{scripts/jquery-ui-1.10.1.custom.min.js}"></script>
<script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{js/ref/jquerysession.js}"></script>
<script th:src="@{scripts/flot/jquery.flot.js}"></script>
<script th:src="@{scripts/js/util.js}"></script>
<script th:src="@{scripts/js/students.js}"></script>
<script th:src="@{scripts/datatables/jquery.dataTables.js}"></script>


<!--<script type="text/javascript">-->
<!--$(document).ready(function () {-->
<!--$('.table-message tbody tr').click(-->
<!--function () {-->
<!--$(this).toggleClass('resolved');-->
<!--}-->
<!--);-->
<!--});-->
<!--</script>-->


</body>

</html>
